// Spacings
$m: 32px;
$s: 16px;
$l: 56x;
$nr-mx: 24px;
$nr-xl: 40px;
$xxxl: 112px;
$xxxls: 64px;
$nr-xs: 8px;

// Colors
$dark: #202624;
$friar-gray: #82827d;
$outer-space: #202624;
$jelmoli-green: #d2e143;
$red: #ee1254;
