@import "./styles/variables";

@font-face {
  font-family: "Medium";
  src: local("AirbnbCerealMedium"),
    url("./fonts/National2Web-Medium.woff") format("woff");
}

@font-face {
  font-family: "Regular";
  src: local("AirbnbCerealMedium"),
    url("./fonts/National2Web-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="radio"].customRadio {
  accent-color: $dark;
}
